In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
api_key = 'cpyWVc9B5vRtXGYeV9EUcAqPtJxK7WL6'
url = "https://api.polygon.io/v1"

In [2]:
#r = requests.get('https://api.polygon.io/v1')
r = requests.get('https://api.polygon.io/v1/open-close/AAPL/2021-02-12?unadjusted=true&apiKey=cpyWVc9B5vRtXGYeV9EUcAqPtJxK7WL6')

In [3]:
#https://api.polygon.io/v1/open-close/AAPL/2021-02-12?unadjusted=true&apiKey=cpyWVc9B5vRtXGYeV9EUcAqPtJxK7WL6
print(r.text)

{"status":"OK","from":"2021-02-12","symbol":"AAPL","open":134.35,"high":135.53,"low":133.6921,"close":135.37,"volume":60136930,"afterHours":135.43,"preMarket":134.79}

In [11]:
from glob import glob
##Name CSV path
#csv_path = 'stock_info/aapl_2020.csv'
filenames = glob('stock_info/aapl*.csv')
dataframes = [pd.read_csv(f) for f in filenames]

In [12]:
##Import AAPL-2020 Data
#aapl_2020_df = pd.read_csv(csv_path)
#aapl_2020_df.head()
print(dataframes)

[           Date   Open   High    Low  Close       Volume
0    02/12/2015  31.52  31.87  31.39  31.62  297,897,876
1    02/11/2015  30.69  31.23  30.63  31.22  294,247,188
2    02/10/2015  30.04  30.54  30.04  30.51  248,034,048
3    02/09/2015  29.64  29.96  29.61  29.93  155,559,204
4    02/06/2015  30.01  30.06  29.61  29.73  174,826,264
5    02/05/2015  30.01  30.06  29.81  29.99  168,984,984
6    02/04/2015  29.63  30.13  29.58  29.89  280,598,968
7    02/03/2015  29.63  29.77  29.40  29.66  207,663,016
8    02/02/2015  29.51  29.79  29.02  29.66  250,956,408
9    01/30/2015  29.60  30.00  29.21  29.29  334,981,812
10   01/29/2015  29.08  29.80  28.89  29.73  337,745,720
11   01/28/2015  29.41  29.53  28.83  28.83  585,908,436
12   01/27/2015  28.11  28.12  27.26  27.29  382,275,000
13   01/26/2015  28.44  28.59  28.20  28.28  222,459,920
14   01/23/2015  28.08  28.44  27.88  28.25  185,859,328
15   01/22/2015  27.57  28.12  27.43  28.10  215,185,624
16   01/21/2015  27.24  27.77  27.07  27.39  194,303,592
17   01/20/2015  26.96  27.24  26.63  27.18  199,599,640
18   01/16/2015  26.76  26.90  26.30  26.50  314,053,408
19   01/15/2015  27.50  27.52  26.67  26.71  240,056,000
20   01/14/2015  27.26  27.62  27.13  27.45  195,826,376
21   01/13/2015  27.86  28.20  27.23  27.56  268,367,720
22   01/12/2015  28.15  28.16  27.20  27.31  198,603,172
23   01/09/2015  28.17  28.31  27.55  28.00  214,798,108
24   01/08/2015  27.31  28.04  27.18  27.97  237,458,204
25   01/07/2015  26.80  27.05  26.67  26.94  160,423,720
26   01/06/2015  26.64  26.86  26.16  26.57  263,188,468
27   01/05/2015  27.07  27.16  26.35  26.56  257,141,952
28   01/02/2015  27.85  27.86  26.84  27.33  212,818,532
29   12/31/2014  28.21  28.28  27.55  27.60  165,613,408
..          ...    ...    ...    ...    ...          ...
223  03/26/2014  19.52  19.61  19.25  19.28  299,768,827
224  03/25/2014  19.34  19.49  19.27  19.46  282,293,468
225  03/24/2014  19.23  19.30  19.11  19.26  355,699,385
226  03/21/2014  19.00  19.06  18.80  19.03  374,448,744
227  03/20/2014  18.92  19.02  18.83  18.88  208,398,139
228  03/19/2014  19.01  19.15  18.89  18.97  224,755,822
229  03/18/2014  18.78  19.00  18.76  18.98  209,647,443
230  03/17/2014  18.85  18.93  18.78  18.81  199,544,287
231  03/14/2014  18.89  18.96  18.68  18.74  237,197,958
232  03/13/2014  19.19  19.27  18.90  18.95  257,742,425
233  03/12/2014  19.09  19.19  19.00  19.16  200,781,803
234  03/11/2014  19.12  19.24  19.02  19.15  280,795,468
235  03/10/2014  18.87  19.05  18.87  18.96  178,765,712
236  03/07/2014  18.97  19.00  18.79  18.94  221,660,954
237  03/06/2014  19.03  19.09  18.86  18.96  185,692,436
238  03/05/2014  18.96  19.10  18.90  19.01  200,262,067
239  03/04/2014  18.96  19.02  18.85  18.97  259,539,325
240  03/03/2014  18.69  18.95  18.67  18.85  239,137,966
241  02/28/2014  18.90  19.03  18.65  18.79  372,298,624
242  02/27/2014  18.47  18.89  18.43  18.85  302,229,187
243  02/26/2014  18.70  18.75  18.41  18.48  276,525,132
244  02/25/2014  18.91  18.91  18.61  18.65  232,989,390
245  02/24/2014  18.68  18.93  18.66  18.84  289,459,788
246  02/21/2014  19.03  19.09  18.74  18.76  279,028,948
247  02/20/2014  19.04  19.18  18.89  18.97  306,116,427
248  02/19/2014  19.46  19.53  19.08  19.19  314,217,666
249  02/18/2014  19.50  19.69  19.49  19.50  261,224,981
250  02/14/2014  19.37  19.50  19.33  19.43  273,872,132
251  02/13/2014  19.10  19.46  19.08  19.44  307,840,667
252  02/12/2014  19.18  19.27  19.04  19.14  308,508,187

[253 rows x 6 columns],            Date   Open   High    Low  Close       Volume
0    02/12/2016  23.55  23.63  23.25  23.50  161,405,516
1    02/11/2016  23.45  23.68  23.15  23.43  200,298,844
2    02/10/2016  23.98  24.09  23.53  23.57  169,374,408
3    02/09/2016  23.57  23.99  23.48  23.75  177,324,796
4    02/08/2016  23.28  23.93  23.26  23.75  216,085,516
5    02/05/2016  24.13  24.23  23.42  23.51  185,672,236
6    02/04/2016  23.97  24.33  23.80  24.15  185,886,592
7    02/03/2016  23.75  24.21  23.52  24.09  183,857,156
8    02/02/2016  23.86  24.01  23.57  23.62  149,428,876
9    02/01/2016  24.12  24.18  23.85  24.11  163,774,156
10   01/29/2016  23.70  24.34  23.59  24.34  257,666,000
11   01/28/2016  23.45  23.63  23.10  23.52  222,715,328
12   01/27/2016  24.01  24.16  23.34  23.36  533,478,812
13   01/26/2016  24.98  25.22  24.52  25.00  300,308,000
14   01/25/2016  25.38  25.38  24.80  24.86  207,178,108
15   01/22/2016  24.66  25.37  24.59  25.36  263,201,876
16   01/21/2016  24.27  24.47  23.74  24.08  208,645,844
17   01/20/2016  23.78  24.55  23.36  24.20  289,337,656
18   01/19/2016  24.60  24.66  23.88  24.17  212,351,016
19   01/15/2016  24.05  24.43  23.84  24.28  319,335,564
20   01/14/2016  24.49  25.12  23.94  24.88  252,680,516
21   01/13/2016  25.08  25.30  24.33  24.35  249,758,532
22   01/12/2016  25.14  25.17  24.71  24.99  196,616,920
23   01/11/2016  24.74  24.77  24.34  24.63  198,957,516
24   01/08/2016  24.64  24.78  24.19  24.24  283,192,064
25   01/07/2016  24.67  25.03  24.11  24.11  324,377,720
26   01/06/2016  25.14  25.59  24.97  25.18  273,829,564
27   01/05/2016  26.44  26.46  25.60  25.68  223,163,968
28   01/04/2016  25.65  26.34  25.50  26.34  270,597,564
29   12/31/2015  26.75  26.76  26.21  26.32  163,649,280
..          ...    ...    ...    ...    ...          ...
223  03/26/2015  30.69  31.22  30.65  31.06  190,291,484
224  03/25/2015  31.64  31.71  30.85  30.85  206,620,720
225  03/24/2015  31.81  32.01  31.64  31.67  131,369,204
226  03/23/2015  31.78  31.96  31.63  31.80  150,838,688
227  03/20/2015  32.06  32.10  31.29  31.48  274,780,532
228  03/19/2015  32.19  32.31  31.85  31.87  183,237,952
229  03/18/2015  31.75  32.29  31.59  32.12  261,083,812
230  03/17/2015  31.48  31.83  31.41  31.76  204,092,408
231  03/16/2015  30.97  31.24  30.72  31.24  143,497,204
232  03/13/2015  31.10  31.35  30.65  30.90  207,309,124
233  03/12/2015  30.58  31.23  30.41  31.11  193,450,876
234  03/11/2015  31.19  31.19  30.53  30.56  275,755,876
235  03/10/2015  31.60  31.81  30.95  31.13  275,426,312
236  03/09/2015  31.99  32.39  31.27  31.79  354,113,936
237  03/06/2015  32.10  32.34  31.57  31.65  291,343,844
238  03/05/2015  32.15  32.19  31.44  31.60  226,068,608
239  03/04/2015  32.28  32.39  32.08  32.14  126,665,360
240  03/03/2015  32.24  32.38  32.02  32.34  151,265,124
241  03/02/2015  32.31  32.57  32.08  32.27  192,386,640
242  02/27/2015  32.50  32.64  32.06  32.12  248,059,392
243  02/26/2015  32.20  32.72  31.65  32.60  365,150,124
244  02/25/2015  32.89  32.90  32.04  32.20  298,847,000
245  02/24/2015  33.24  33.40  32.79  33.04  276,912,500
246  02/23/2015  32.51  33.25  32.42  33.25  283,896,436
247  02/20/2015  32.16  32.38  32.01  32.37  195,793,688
248  02/19/2015  32.12  32.26  32.08  32.11  149,449,516
249  02/18/2015  31.91  32.20  31.86  32.18  179,566,952
250  02/17/2015  31.87  32.22  31.73  31.96  252,609,624
251  02/13/2015  31.82  31.82  31.41  31.77  217,088,080
252  02/12/2015  31.52  31.87  31.39  31.62  297,897,876

[253 rows x 6 columns],            Date   Open   High    Low  Close       Volume
0    02/10/2017  33.12  33.24  33.01  33.03   80,261,844
1    02/09/2017  32.91  33.11  32.78  33.11  113,399,436
2    02/08/2017  32.84  33.06  32.81  33.01   92,016,280
3    02/07/2017  32.64  33.02  32.61  32.88  152,735,360
4    02/06/2017  32.28  32.63  32.23  32.57  107,383,680
5    02/03/2017  32.08  32.30  32.04  32.27   98,029,204
6    02/02/2017  31.99  32.35  31.95  32.13  134,841,624
7    02/01/2017  31.76  32.62  31.75  32.19  447,940,000
8    01/31/2017  30.29  30.35  30.16  30.34  196,803,968
9    01/30/2017  30.23  30.41  30.17  30.41  121,510,000
10   01/27/2017  30.54  30.59  30.40  30.49   82,251,756
11   01/26/2017  30.42  30.61  30.40  30.49  105,350,320
12   01/25/2017  30.11  30.53  30.07  30.47  130,346,680
13   01/24/2017  29.89  30.03  29.88  29.99   92,844,156
14   01/23/2017  30.00  30.20  29.94  30.02   88,200,884
15   01/20/2017  30.11  30.11  29.93  30.00  130,391,564
16   01/19/2017  29.85  30.02  29.84  29.95  102,389,156
17   01/18/2017  30.00  30.13  29.93  30.00   94,851,844
18   01/17/2017  29.59  30.06  29.56  30.00  137,759,360
19   01/13/2017  29.78  29.91  29.70  29.76  104,447,796
20   01/12/2017  29.72  29.83  29.55  29.81  108,344,884
21   01/11/2017  29.69  29.98  29.65  29.94  110,354,360
22   01/10/2017  29.69  29.85  29.58  29.78   97,848,204
23   01/09/2017  29.49  29.86  29.49  29.75  134,247,812
24   01/06/2017  29.20  29.54  29.12  29.48  127,007,600
25   01/05/2017  28.98  29.22  28.95  29.15   88,774,360
26   01/04/2017  28.96  29.13  28.94  29.01   84,472,476
27   01/03/2017  28.95  29.08  28.69  29.04  115,127,476
28   12/30/2016  29.16  29.30  28.86  28.96  122,345,080
29   12/29/2016  29.11  29.28  29.10  29.18   60,158,080
..          ...    ...    ...    ...    ...          ...
222  03/28/2016  26.50  26.55  26.27  26.30   77,645,476
223  03/24/2016  26.37  26.56  26.22  26.42  104,531,844
224  03/23/2016  26.62  26.77  26.48  26.53  102,814,000
225  03/22/2016  26.31  26.82  26.30  26.68  129,777,524
226  03/21/2016  26.48  26.91  26.29  26.48  142,010,720
227  03/18/2016  26.59  26.63  26.30  26.48  176,820,672
228  03/17/2016  26.38  26.62  26.24  26.45  137,682,844
229  03/16/2016  26.15  26.58  26.15  26.49  153,213,952
230  03/15/2016  25.99  26.30  25.96  26.15  160,270,908
231  03/14/2016  25.48  25.73  25.45  25.63  100,304,244
232  03/11/2016  25.56  25.57  25.38  25.57  109,632,960
233  03/10/2016  25.35  25.56  25.04  25.29  134,054,312
234  03/09/2016  25.33  25.40  25.07  25.28  108,806,720
235  03/08/2016  25.20  25.44  25.10  25.26  126,247,564
236  03/07/2016  25.60  25.71  25.24  25.47  143,663,236
237  03/04/2016  25.59  25.94  25.34  25.75  184,220,408
238  03/03/2016  25.15  25.43  25.11  25.38  147,822,952
239  03/02/2016  25.13  25.22  24.91  25.19  132,678,236
240  03/01/2016  24.41  25.19  24.36  25.13  201,628,608
241  02/29/2016  24.22  24.56  24.16  24.17  140,865,124
242  02/26/2016  24.30  24.51  24.15  24.23  115,964,524
243  02/25/2016  24.01  24.19  23.81  24.19  110,330,640
244  02/24/2016  23.50  24.10  23.33  24.03  145,023,016
245  02/23/2016  24.10  24.13  23.64  23.67  127,770,524
246  02/22/2016  24.08  24.23  23.98  24.22  137,123,048
247  02/19/2016  24.00  24.19  23.95  24.01  141,496,672
248  02/18/2016  24.71  24.72  24.02  24.07  156,083,920
249  02/17/2016  24.17  24.55  24.04  24.53  179,452,952
250  02/16/2016  23.76  24.21  23.65  24.16  196,231,688
251  02/12/2016  23.55  23.63  23.25  23.50  161,405,516

[252 rows x 6 columns],            Date   Open   High    Low  Close       Volume
0    02/12/2018  39.63  40.97  39.38  40.68  243,278,156
1    02/09/2018  39.27  39.47  37.56  39.10  282,690,436
2    02/08/2018  40.07  40.25  38.76  38.79  217,562,080
3    02/07/2018  40.77  40.85  39.77  39.89  206,434,312
4    02/06/2018  38.71  40.93  38.50  40.76  272,975,376
5    02/05/2018  39.78  40.97  39.00  39.12  290,954,092
6    02/02/2018  41.50  41.70  40.03  40.13  346,375,312
7    02/01/2018  41.79  42.16  41.69  41.95  188,923,172
8    01/31/2018  41.72  42.11  41.63  41.86  129,915,720
9    01/30/2018  41.38  41.84  41.18  41.74  184,192,764
10   01/29/2018  42.54  42.54  41.77  41.99  202,561,624
11   01/26/2018  43.00  43.00  42.52  42.88  156,572,032
12   01/25/2018  43.63  43.74  42.63  42.78  166,116,000
13   01/24/2018  44.31  44.33  43.30  43.56  204,420,360
14   01/23/2018  44.33  44.86  44.21  44.26  130,756,600
15   01/22/2018  44.33  44.45  44.15  44.25  108,434,204
16   01/19/2018  44.65  44.90  44.35  44.62  129,700,280
17   01/18/2018  44.84  45.03  44.56  44.82  124,773,400
18   01/17/2018  44.04  44.81  43.77  44.78  137,547,360
19   01/16/2018  44.48  44.85  44.04  44.05  118,263,796
20   01/12/2018  44.05  44.34  43.91  44.27  101,672,320
21   01/11/2018  43.65  43.87  43.62  43.82   74,670,920
22   01/10/2018  43.29  43.58  43.25  43.57   95,839,600
23   01/09/2018  43.64  43.77  43.35  43.58   86,336,000
24   01/08/2018  43.59  43.90  43.48  43.59   82,271,080
25   01/05/2018  43.36  43.84  43.26  43.75   94,640,080
26   01/04/2018  43.14  43.37  43.02  43.26   89,738,400
27   01/03/2018  43.13  43.64  42.99  43.06  118,071,600
28   01/02/2018  42.54  43.08  42.32  43.07  102,223,720
29   12/29/2017  42.63  42.65  42.31  42.31  103,999,680
..          ...    ...    ...    ...    ...          ...
222  03/27/2017  34.85  35.31  34.66  35.22   94,300,360
223  03/24/2017  35.38  35.44  35.09  35.16   89,582,244
224  03/23/2017  35.32  35.40  35.15  35.23   81,385,204
225  03/22/2017  34.96  35.40  34.94  35.36  103,440,680
226  03/21/2017  35.53  35.70  34.93  34.96  158,119,640
227  03/20/2017  35.10  35.38  35.06  35.37   86,168,156
228  03/17/2017  35.25  35.25  34.97  35.00  175,539,812
229  03/16/2017  35.18  35.26  35.07  35.17   76,928,000
230  03/15/2017  34.85  35.19  34.76  35.12  102,767,080
231  03/14/2017  34.83  34.91  34.71  34.75   61,236,280
232  03/13/2017  34.71  34.86  34.71  34.80   69,686,884
233  03/10/2017  34.81  34.84  34.66  34.79   78,451,204
234  03/09/2017  34.69  34.70  34.26  34.67   88,623,600
235  03/08/2017  34.74  34.95  34.71  34.75   74,828,960
236  03/07/2017  34.77  35.00  34.70  34.88   69,785,204
237  03/06/2017  34.84  34.94  34.65  34.84   87,000,156
238  03/03/2017  34.70  34.96  34.65  34.95   86,284,476
239  03/02/2017  35.00  35.07  34.69  34.74  104,843,920
240  03/01/2017  34.47  35.04  34.40  34.95  145,658,376
241  02/28/2017  34.27  34.36  34.18  34.25   93,931,436
242  02/27/2017  34.29  34.36  34.07  34.23   81,029,720
243  02/24/2017  33.98  34.17  33.82  34.17   87,106,360
244  02/23/2017  34.35  34.37  34.08  34.13   83,152,756
245  02/22/2017  34.11  34.28  34.03  34.28   83,347,720
246  02/21/2017  34.06  34.19  34.00  34.18   98,028,640
247  02/17/2017  33.78  33.96  33.78  33.93   88,792,796
248  02/16/2017  33.92  33.98  33.71  33.84   90,338,244
249  02/15/2017  33.88  34.07  33.66  33.88  142,492,408
250  02/14/2017  33.37  33.77  33.31  33.76  132,904,876
251  02/13/2017  33.27  33.46  33.19  33.32   92,141,680

[252 rows x 6 columns],            Date   Open   High    Low  Close       Volume
0    02/12/2019  42.53  42.75  42.43  42.72   89,134,080
1    02/11/2019  42.76  42.80  42.31  42.36   83,973,720
2    02/08/2019  42.25  42.67  42.11  42.60   95,279,884
3    02/07/2019  43.10  43.49  42.59  42.74  126,966,756
4    02/06/2019  43.66  43.89  43.21  43.56  112,958,360
5    02/05/2019  43.22  43.77  43.09  43.55  144,406,532
6    02/04/2019  41.85  42.91  41.82  42.81  125,982,320
7    02/01/2019  41.74  42.25  41.48  41.63  130,672,564
8    01/31/2019  41.53  42.25  41.14  41.61  162,958,592
9    01/30/2019  40.81  41.54  40.06  41.31  244,439,124
10   01/29/2019  39.06  39.53  38.53  38.67  166,348,952
11   01/28/2019  38.95  39.08  38.42  39.08  104,768,244
12   01/25/2019  38.87  39.53  38.58  39.44  134,191,564
13   01/24/2019  38.53  38.62  37.94  38.18  101,766,204
14   01/23/2019  38.54  38.79  37.93  38.48   92,522,280
15   01/22/2019  39.10  39.18  38.16  38.33  121,575,884
16   01/18/2019  39.38  39.47  39.00  39.21  135,004,080
17   01/17/2019  38.55  39.42  38.32  38.97  119,284,640
18   01/16/2019  38.27  38.97  38.25  38.74  122,278,844
19   01/15/2019  37.57  38.35  37.51  38.27  114,841,280
20   01/14/2019  37.71  37.82  37.31  37.50  129,756,756
21   01/11/2019  38.22  38.43  37.88  38.07  108,092,960
22   01/10/2019  38.13  38.49  37.72  38.45  143,122,688
23   01/09/2019  37.82  38.63  37.41  38.33  180,396,312
24   01/08/2019  37.39  37.96  37.13  37.69  164,101,248
25   01/07/2019  37.18  37.21  36.48  36.98  219,111,048
26   01/04/2019  36.13  37.14  35.95  37.07  234,428,280
27   01/03/2019  36.00  36.43  35.50  35.55  365,248,812
28   01/02/2019  38.72  39.71  38.56  39.48  148,158,952
29   12/31/2018  39.63  39.84  39.12  39.44  140,013,892
..          ...    ...    ...    ...    ...          ...
222  03/26/2018  42.02  43.28  41.61  43.19  150,164,952
223  03/23/2018  42.10  42.48  41.24  41.24  164,115,124
224  03/22/2018  42.50  43.17  42.15  42.21  165,963,080
225  03/21/2018  43.76  43.77  42.82  42.82  148,219,764
226  03/20/2018  43.81  44.20  43.74  43.81   78,597,400
227  03/19/2018  44.33  44.37  43.42  43.83  133,787,080
228  03/16/2018  44.66  44.78  44.41  44.51  157,618,752
229  03/15/2018  44.63  45.06  44.52  44.66   90,975,204
230  03/14/2018  45.08  45.13  44.45  44.61  117,473,040
231  03/13/2018  45.65  45.88  44.81  44.99  126,774,116
232  03/12/2018  45.07  45.60  45.05  45.43  128,828,320
233  03/09/2018  44.49  45.00  44.35  45.00  128,740,640
234  03/08/2018  43.87  44.28  43.77  44.24   95,096,436
235  03/07/2018  43.74  43.96  43.57  43.76  126,813,844
236  03/06/2018  44.48  44.56  44.03  44.17   95,154,040
237  03/05/2018  43.80  44.44  43.63  44.21  113,605,476
238  03/02/2018  43.20  44.08  43.11  44.05  153,815,812
239  03/01/2018  44.64  44.94  43.17  43.75  195,207,876
240  02/28/2018  44.82  45.15  44.51  44.53  151,128,564
241  02/27/2018  44.78  45.12  44.54  44.60  155,712,516
242  02/26/2018  44.09  44.85  44.05  44.74  152,648,672
243  02/23/2018  43.42  43.91  43.39  43.88  135,249,436
244  02/22/2018  42.95  43.49  42.93  43.13  123,967,756
245  02/21/2018  43.21  43.53  42.75  42.77  149,886,484
246  02/20/2018  43.01  43.57  42.86  42.96  135,722,156
247  02/16/2018  43.09  43.71  42.94  43.11  160,704,360
248  02/15/2018  42.45  43.27  42.25  43.25  204,588,672
249  02/14/2018  40.76  41.89  40.72  41.84  162,579,720
250  02/13/2018  40.49  41.19  40.41  41.09  130,196,640
251  02/12/2018  39.63  40.97  39.38  40.68  243,278,156

[252 rows x 6 columns],            Date   Open   High    Low  Close       Volume
0    02/12/2020  80.37  81.81  80.37  81.80  113,730,280
1    02/11/2020  80.90  80.98  79.68  79.90   94,323,116
2    02/10/2020  78.55  80.39  78.46  80.39  109,348,884
3    02/07/2020  80.59  80.85  79.50  80.01  117,684,040
4    02/06/2020  80.64  81.31  80.07  81.30  105,425,564
5    02/05/2020  80.88  81.19  79.74  80.36  118,826,884
6    02/04/2020  78.83  79.91  78.41  79.71  136,616,516
7    02/03/2020  76.08  78.37  75.56  77.17  173,985,592
8    01/31/2020  80.23  80.67  77.07  77.38  199,588,408
9    01/30/2020  80.14  81.02  79.69  80.97  126,743,244
10   01/29/2020  81.11  81.96  80.35  81.09  216,599,720
11   01/28/2020  78.15  79.60  78.05  79.42  162,233,952
12   01/27/2020  77.52  77.94  76.22  77.24  161,940,032
13   01/24/2020  80.06  80.83  79.38  79.58  146,537,516
14   01/23/2020  79.48  79.89  78.91  79.81  104,471,960
15   01/22/2020  79.65  80.00  79.33  79.43  101,832,476
16   01/21/2020  79.30  79.76  79.00  79.14  110,843,244
17   01/17/2020  79.07  79.69  78.75  79.68  137,816,484
18   01/16/2020  78.40  78.93  78.02  78.81  108,829,000
19   01/15/2020  77.96  78.88  77.39  77.84  121,923,524
20   01/14/2020  79.18  79.39  78.04  78.17  162,613,844
21   01/13/2020  77.91  79.27  77.79  79.24  122,086,884
22   01/10/2020  77.65  78.17  77.06  77.58  140,869,092
23   01/09/2020  76.81  77.61  76.55  77.41  170,486,156
24   01/08/2020  74.29  76.11  74.29  75.80  132,363,796
25   01/07/2020  74.96  75.23  74.37  74.60  111,510,640
26   01/06/2020  73.45  74.99  73.19  74.95  118,578,564
27   01/03/2020  74.29  75.15  74.13  74.36  146,535,516
28   01/02/2020  74.06  75.15  73.80  75.09  135,647,436
29   12/31/2019  72.48  73.42  72.38  73.41  100,990,524
..          ...    ...    ...    ...    ...          ...
223  03/26/2019  47.92  48.22  46.15  46.70  199,202,156
224  03/25/2019  47.88  48.00  46.65  47.19  175,381,156
225  03/22/2019  48.84  49.42  47.70  47.76  169,630,688
226  03/21/2019  47.51  49.08  47.45  48.77  204,136,952
227  03/20/2019  46.56  47.37  46.18  47.04  124,140,920
228  03/19/2019  47.09  47.25  46.48  46.63  126,585,476

In [13]:
##Combine AAPL csvs
aapl_df = pd.concat(dataframes)

In [17]:
aapl_df.count()

Date      1769
Open      1769
High      1769
Low       1769
Close     1769
Volume    1769
dtype: int64

In [24]:
aapl_df['Date'] = pd.to_datetime(aapl_df['Date'], dayfirst = True)

In [25]:
aapl_df.head()

        Date   Open   High    Low  Close       Volume
0 2015-12-02  31.52  31.87  31.39  31.62  297,897,876
1 2015-11-02  30.69  31.23  30.63  31.22  294,247,188
2 2015-10-02  30.04  30.54  30.04  30.51  248,034,048
3 2015-09-02  29.64  29.96  29.61  29.93  155,559,204
4 2015-06-02  30.01  30.06  29.61  29.73  174,826,264

In [26]:
aapl_df_sorted = aapl_df.sort_values(by='Date', ascending = True)

In [27]:
aapl_df_sorted.head()

          Date   Open   High    Low  Close       Volume
219 2014-01-04  19.21  19.35  19.17  19.34  200,758,731
198 2014-01-05  21.14  21.24  20.94  21.12  244,209,661
156 2014-01-07  23.38  23.52  23.28  23.38  152,893,920
134 2014-01-08  23.73  24.16  23.70  24.03  194,045,156
92  2014-01-10  25.15  25.17  24.68  24.80  205,965,156

In [29]:
aapl_df_sorted.to_csv('test.csv')